playground

# directory terraform
terraform/*.tfstate
terraform/*.tfstate.*
terraform/terraform.tfstate.backup
terraform/terraform.tfstate.backup.*

# ignore terraform variables file
terraform/terraform.tfvar

# ignore terraform plugin directory
terraform/.terraform/

terraform/terraform.lock.hcl
terraform/.terraform.lock.hcl

# ignore logs and temporary files
terraform/*.log
terraform/*.swp